.flowerspage{
    height: 80vh;
    padding: 130px 0px;
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.img{
    object-fit: contain;
    height: 50%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: left;
     grid-area: 1 / 2 / 2 / 3;
background: radial-gradient(transparent 20%, white 70%);
    }
.bannertext{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
}
.flowername {
    cursor: pointer;
}